---
import Search from "@/components/common/Search.astro";
import DeleteReviewModal from "@/components/modals/review/deleteReviewModal.astro";
import DeleteReviewUserModal from "@/components/modals/review/deleteReviewUserModal.astro";
import EditReviewModal from "@/components/modals/review/editReviewModal.astro";

const { reviews, user, searchQuery} = Astro.props;
const filteredReviews = reviews.filter((review: any) => {
  const query = searchQuery.toLowerCase();
  return (
    review.title.toLowerCase().includes(query) ||
    review.description.toLowerCase().includes(query) ||
    review.restaurantName.toLowerCase().includes(query)
  );
});

interface IReviewWithRestaurant {
  id: number;
            title: string;
            description: string;
            suitable: boolean;
            createdAt: Date;
            restaurantName: string;
            restaurantId: number;
}
---
<div class=" text-slate-800 antialiased">
  <main class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl md:text-4xl font-bold text-slate-800 text-center mb-10">My Reviews</h1>

      <!-- Search Bar -->
      <Search searchQuery={searchQuery}/>

      <!-- Reviews List -->
      <div class="space-y-6 md:space-y-8">
          
          <!-- Review Card Example 1 -->
          {filteredReviews.map((review: IReviewWithRestaurant) => (
            <article class="bg-white p-5 md:p-6 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
              <div class="flex justify-between items-center mb-2">
                <div class="flex items-baseline">
                  <h2 class="text-xl font-bold text-slate-800">{review.restaurantName}</h2>
                  <span class="text-xs text-slate-500 ml-2">
                    · {new Date(review.createdAt).toLocaleDateString('es-ES', {
                      year: 'numeric',
                      month: 'long',
                      day: 'numeric'
                    })}
                  </span>
                </div>
                <div class="flex space-x-2">
                  <button data-modal-target={`editReviewModal-${review.id}`}
                    data-modal-toggle={`editReviewModal-${review.id}`} class="text-blue-500 hover:text-blue-700 p-1 rounded-full hover:bg-blue-50 transition-all duration-200 ease-in-out" aria-label="Editar reseña">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                      </svg>
                      
                  </button>
                  <EditReviewModal review={review} modalId={`editReviewModal-${review.id}`} user={user} />
                  <button data-modal-target={`deleteReviewModal-${review.id}`} data-modal-toggle={`deleteReviewModal-${review.id}`} class="text-red-500 hover:text-red-700 p-1 rounded-full hover:bg-red-50 transition-all duration-200 ease-in-out" aria-label="Eliminar reseña">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12.56 0c.342.052.682.107 1.022.166m0 0l-.346 9m4.788 0l.24-2.282" />
                      </svg>
                  </button>
                  <DeleteReviewUserModal review={review} modalId={`deleteReviewModal-${review.id}`} user={user} />
                </div>
              </div>
              <p class="text-sm text-slate-600 leading-relaxed mb-3">
                {review.description}
              </p>
              <div class="text-sm font-medium text-slate-700">
                Menú adecuado: {review.suitable ? 'Sí' : 'No'}
              </div>
            </article>
            
          ))}
      </div>
  </main>

 
</div>