---
const {usuario} = Astro.props;
---
<div id="accountInformationModal2" tabindex="-1" aria-hidden="true" class="max-h-auto fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden antialiased md:inset-0">
    <div class="max-h-auto relative max-h-full w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 md:p-5">
          <h3 class="text-lg font-semibold text-gray-900">Edit Information</h3>
          <button type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900" data-modal-toggle="accountInformationModal2">
            <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form class="p-4 md:p-5" method="POST" action={`/user/me/${usuario.id}`}  id="edit_user">
            <input type="hidden" name="id" value={usuario.id} />
            <input type="hidden" name="formId" value="edit_user" />
          <div class="mb-5 grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
                <input type="text" value={usuario.name} name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
            </div>
            <div>
                <label for="surname" class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
                <input type="text" value={usuario.surname} name="surname" id="surname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                <input type="text" value={usuario.email} name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " required="">
            </div>
            <div>
                <label for="digestive_condition" class="block mb-2 text-sm font-medium text-gray-900 ">Condition</label>
                <select id="digestive_condition" name="digestive_condition" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                    <option value={usuario.digestive_condition}  selected="">Select condition</option>
                    <option value="Celiac disease">Celiac disease</option>
                    <option value="Allergies">Allergies</option>
                    <option value="Crohn">Crohn</option>
                    <option value="Other">Other</option>
                </select>
            </div>
          </div>
          <div class="border-t border-gray-200 pt-4 md:pt-5">
            <button type="submit" class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 ">Save information</button>
            <button type="button" data-modal-toggle="accountInformationModal2" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100">Cancel</button>
          </div>
        </form>
      </div>
    </div>
</div>

  