---
import EditMeModal from "@/components/modals/myInfo/editMeModal.astro";
import { countReviewsByUser } from "@/repository/reviews";

const {usuario, reviewCount} = Astro.props;

---
<section class="bg-white py-8 antialiased md:py-8 max-w-screen-xl mx-auto rounded-xl shadow px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
    <h2 class="mb-4 text-xl font-semibold text-gray-900  sm:text-2xl md:mb-6">My Profile</h2>
    <div class="py-4 md:py-8">
      <div class="mb-4 space-y-4">
        <div class="flex space-x-4">
          <img class="h-16 w-16 rounded-lg" src={usuario.photo} alt="Helene avatar" />
          <div>
            <h2 class="flex items-center text-xl font-bold leading-none text-gray-900 sm:text-2xl">{usuario.name} {usuario.surname}</h2>
            <span class="mb-2 inline-block rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800"> {usuario.email} </span>
          </div>
        </div>
      
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-4">
          <dl>
            <dt class="font-semibold text-gray-900">Name</dt>
            <dd class="text-gray-500">{usuario.name}</dd>
          </dl>
          <dl>
            <dt class="font-semibold text-gray-900">Last Name</dt>
            <dd class="text-gray-500">{usuario.surname}</dd>
          </dl>
          <dl>
            <dt class="font-semibold text-gray-900">Condition</dt>
            <dd class="text-gray-500">{usuario.digestive_condition}</dd>
          </dl>
          <dl>
            <dt class="font-semibold text-gray-900">Number of reviews</dt>
            <dd class="text-gray-500">{reviewCount}</dd>
          </dl>
          <dl>
            <dt class="font-semibold text-gray-900">Email</dt>
            <dd class="text-gray-500">{usuario.email}</dd>
          </dl>
        </div>
      </div>
      <button type="button" data-modal-target="accountInformationModal2" data-modal-toggle="accountInformationModal2" class="bg-indigo-100 text-indigo-600 hover:bg-indigo-200 px-4 py-2 rounded-md text-sm font-medium self-start sm:self-center whitespace-nowrap">
        Edit your data
      </button>
    </div>
  </div>
  <!-- Account Information Modal -->
  <EditMeModal usuario={usuario} />
</section>