---
import DeleteModal from "@/components/modals/deleteModal.astro";
import DeleteReviewModal from "@/components/modals/review/deleteReviewModal.astro";
import UpdateUserModal from "@/components/modals/updateUserModal.astro";
import { getReviewsByUser } from "@/repository/users";

const {user, userId, review} = Astro.props;

const reviews = await getReviewsByUser(userId);
console.log('REVIEWS', review);
console.log('USER ID', userId);

---
<div class="bg-white rounded-lg border border-gray-20 py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="py-6 px-4 mx-auto max-w-screen-xl sm:py-6 lg:px-6">
           <div class="max-w-screen-md mb-8 lg:mb-16">
               <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">User</h2>          
           </div>
          
       </div>
       <div class="rounded-lg border border-gray-200 bg-gray-50 pb-6 pt-0 md:p-10 m-6">
         <div class="relative flex space-x-4">
           <button type="button" id="deleteButton" data-modal-target="deleteModal" data-modal-toggle="deleteModal" class="block absolute top-0 right-0 mt-4 mr-4 text-red-700 hover:text-white border border-red-100 bg-red-100 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
             Eliminar
           </button>
           <img class="h-16 w-16 rounded-lg" src={user.photo} alt="img_perfil" />
           <div>
           
             <span class="mb-2 inline-block rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 ">{ user.role_id === 1 ? 'Admin' : 'User' }</span>
          
             <h2 class="flex items-center text-xl font-bold leading-none text-gray-900 sm:text-2xl">{user.name} {user.surname}</h2>
            
           </div>
         </div>
       </div>
       <div class="relative rounded-lg border border-gray-200 bg-gray-50  pt-14 md:p-10 m-6">
         <h2 class="mb-4 text-xl font-semibold text-gray-900 sm:text-2xl md:mb-6">Datos personales</h2>
         <button type="button" type="button" id="updateUserButton" data-modal-target="updateUserModal" data-modal-toggle="updateUserModal" class="absolute top-0 right-0 mt-4 mr-4 text-blue-700 hover:text-white border border-blue-100 bg-blue-100 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Editar</button>
         <!--DATOS PERSONALES Usuarios -->
         <div class="py-3 md:py-3">
          
           <div class="mb-4 grid gap-4 sm:grid-cols-3 sm:gap-8 lg:gap-16">
            
             <div class="space-y-4">
               <dl class="">
                 <dt class="font-semibold text-gray-900 ">First Name</dt>
                 <dd class="text-gray-500 "> {user.name}</dd>
               </dl>
               <dl>
                 <dt class="font-semibold text-gray-900 ">Last Name</dt>
                 <dd class="flex items-center gap-1 text-gray-500 ">
                   <svg class="hidden h-5 w-5 shrink-0 text-gray-400lg:inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
                   </svg>
                   {user.surname}
                 </dd>
               </dl>
              
             </div>
             <div class="space-y-4">
               <dl>
                 <dt class="font-semibold text-gray-900 ">Email Address</dt>
                 <dd class="text-gray-500 "><svg class="hidden h-5 w-5 shrink-0 text-gray-400  lg:inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 2048 2048">
                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="#9ca3af" d="M2048 1280v768H1024v-768h256v-256h512v256zm-640 0h256v-128h-256zm512 384h-128v128h-128v-128h-256v128h-128v-128h-128v256h768zm0-256h-768v128h768zm-355-512q-54-61-128-94t-157-34q-80 0-149 30t-122 82t-83 123t-30 149q0 92-41 173t-116 136q45 23 84 53t73 68v338q0-79-30-149t-82-122t-123-83t-149-30q-80 0-149 30t-122 82t-83 123t-30 149H0q0-73 20-141t57-129t90-108t118-81q-74-54-115-135t-42-174q0-79 30-149t82-122t122-83t150-30q92 0 173 41t136 116q38-75 97-134t135-98q-74-54-115-135t-42-174q0-79 30-149t82-122t122-83t150-30q79 0 149 30t122 82t83 123t30 149q0 92-41 173t-116 136q68 34 123 85t93 118zM512 1408q53 0 99-20t82-55t55-81t20-100q0-53-20-99t-55-82t-81-55t-100-20q-53 0-99 20t-82 55t-55 81t-20 100q0 53 20 99t55 82t81 55t100 20m512-1024q0 53 20 99t55 82t81 55t100 20q53 0 99-20t82-55t55-81t20-100q0-53-20-99t-55-82t-81-55t-100-20q-53 0-99 20t-82 55t-55 81t-20 100"/>
                 </svg>
                 {user.email}
               </dd>
               </dl>
               <dl>
                 <dt class="font-semibold text-gray-900 ">Condition</dt>
                 <dd class="flex items-center gap-1 text-gray-500 ">
                  
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none" stroke="#9ca3af" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M9 20H6a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4h11a4 4 0 0 1 4 4v3M8 2v2m7-2v2M2 8h19m-2.5 7.643l-1.5 1.5"/>
                     <circle cx="17" cy="17" r="5"/></g>
                   </svg>
                   {user.digestive_condition}
                 </dd>
               </dl>
              
             </div>
            
           </div>
          
         </div>
         <!--FIN DATOS PERSONALES Usuarios -->
       </div>
       <!--RESEÑAS -->
       <div class="relative rounded-lg border border-gray-200 bg-gray-50  pt-14 md:p-10 m-6">
         <h2 class="mb-4 text-xl font-semibold text-gray-900 sm:text-2xl md:mb-6">Reviews</h2>
       
         <!--RESEÑA 1 -->
         {reviews.map((review) => (
         <div class="py-3 md:py-3">
         
            <div class="mb-4 space-y-4 p-6 transition hover:shadow-md">
              
              <div class="border-t-2 border-gray-200 pt-4">
                
                <div class="flex justify-between items-center">
                  
                  <h3 class="text-lg font-bold text-gray-900">{review.restaurantName}</h3>
                  
                  <span class="text-sm text-gray-500">
                    {review.createdAt ? new Date(review.createdAt).toLocaleDateString("es-ES", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    }) : 'Fecha no disponible'}
                  </span>
                  <button type="button" id="deleteReviewButton" data-modal-target="deleteReviewModal" data-modal-toggle="deleteReviewModal" class="mt-4 mr-4 text-red-700 hover:text-white border border-red-100 bg-red-100 hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="#e11d48" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3"/></svg>
                  </button>
                </div>

                <p class="text-gray-700 leading-relaxed">
                  {review.description}
                </p>

                <div class="flex items-center space-x-2">
  <span class="inline-flex items-center px-2.5 py-0.5 rounded text-xs font-medium 
    ${review.suitable ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}">
    {review.suitable 
      ? `Apto para ${user.digestive_condition}` // Aquí estamos evaluando correctamente el valor
      : 'No apto'}
  </span>
</div>
              </div>
            </div>
          </div>
          <DeleteReviewModal user={user} review={review} modalId={`deleteReviewModal-${review.id}`} />
           ))}
         <!--FIN reseña1-->
        
       </div>
       
       <DeleteModal user={user}/>
       <UpdateUserModal user={user}/>
       
   </div>


 

